API_URL=https://api.yourdomain.com
API_REPORTS_URL=https://api.yourdomain.com/reports

OIDC_AUTHORITY=http://localhost:8080
OIDC_CLIENT_ID=oidc-client-id
# Scopes by default: openid profile email offline_access urn:zitadel:iam:org:project:id:zitadel:aud
# Use for additional scopes
# OIDC_SCOPE=""
IDP_PROJECT_ID=idp-project-id

PRODUCTION=false
LOG_LEVEL=DEBUG # INFO, ERROR, DEBUG, NONE

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-anon-key