<ngx-extended-pdf-viewer
  [base64Src]="pdfBase64Src"
  [src]="pdfSrc"
  (srcChange)="onSrcChange($event)"
  [contextMenuAllowed]="false"
  [ignoreKeyboard]="false"
  [ignoreKeys]="[]"
  [acceptKeys]="[]"
  [replaceBrowserPrint]="false"
  [textLayer]="true"
  [showToolbar]="true"
  [showSidebarButton]="true"
  [showFindButton]="true"
  [showPagingButtons]="true"
  [showDrawEditor]="false"
  [showHighlightEditor]="false"
  [showStampEditor]="false"
  [showTextEditor]="false"
  [showZoomButtons]="true"
  [showPresentationModeButton]="true"
  [showOpenFileButton]="false"
  [showPrintButton]="false"
  [showDownloadButton]="false"
  [showSecondaryToolbarButton]="true"
  [showRotateButton]="true"
  [showRotateCwButton]="true"
  [showRotateCcwButton]="true"
  [showHandToolButton]="true"
  [showSpreadButton]="true"
  [showPropertiesButton]="true"
>
</ngx-extended-pdf-viewer>
